<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
      <tr>
        <td>이름</td>
        <td>이메일</td>
        <td>전화번호</td>
        <td>address</td>
        <td>gender</td>
        <td>만든날짜</td>
        <td>수정날짜</td>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</main>