<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.ItemMapper">

    <select id="select" parameterType="Integer" resultType="Item">
        SELECT * FROM item WHERE item_no=#{item_no}
    </select>
    <select id="selectall" resultType="Item">
        SELECT * FROM item
    </select>
    <insert id="insert" parameterType="Item">
        INSERT INTO item
        VALUES (item_no, #{cate_no}, #{item_name},#{item_price}, #{item_discnt}, #{item_info}, #{item_hit}, now())
    </insert>
    <update id="update" parameterType="Item">
        UPDATE item SET item_price=#{item_price}, item_discnt=#{item_discnt}, item_info=#{item_info} WHERE item_no=#{item_no}
    </update>
    <delete id="delete" parameterType="Integer">
        DELETE FROM item WHERE item_no=#{item_no}
    </delete>


	<select id="selectSubItemList" parameterType="Integer" resultType="Item">
        SELECT * FROM item WHERE cate_no=#{cate_no}
    </select>
    <select id="selectMidItemList" parameterType="Integer" resultType="Item">
		SELECT i.item_no, c.cate_no, i.item_name, i.item_price, i.item_discnt, i.item_info, i.item_hit, i.item_udate FROM item i 
		INNER JOIN category c
		WHERE i.cate_no=c.cate_no AND cate_no2=#{cate_no}
    </select>
    <select id="selectTopItemList" parameterType="Integer" resultType="Item">
    	SELECT i.item_no, c.cate_no, i.item_name, i.item_price, i.item_discnt, i.item_info, i.item_hit, i.item_udate FROM item i 
		INNER JOIN category c
		INNER JOIN category c2
		WHERE i.cate_no=c.cate_no AND c.cate_no2=c2.cate_no AND c2.cate_no2=#{cate_no}
    </select>
    
    
    <select id="searchItemList" parameterType="String" resultType="Item">
    	SELECT * FROM item WHERE item_name LIKE CONCAT('%',#{search},'%')
    </select> 
    <update id="updateItemhit" parameterType="Integer">
        UPDATE item SET item_hit=item_hit+1 WHERE item_no=#{item_no};
    </update>
    <select id="selectCategorys" parameterType="Integer" resultType="Category">  <!-- 현재 아이템의 대,중,소분류 구하기 -->
    	select c3.cate_name as 'top_cate_name', c2.cate_name as'mid_cate_name', c1.cate_name from category c1
		inner join item i
		inner join category c2
		inner join category c3
		where i.cate_no=c1.cate_no AND item_no=#{item_no} AND c1.cate_no2=c2.cate_no AND c2.cate_no2=c3.cate_no
    </select>
</mapper>