<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.ItemMapper">

    <select id="select" parameterType="Integer" resultType="Item">
        SELECT * FROM item WHERE item_no=#{item_no}
    </select>
    <select id="selectall" resultType="Item">
        SELECT * FROM item
    </select>
    <insert id="insert" parameterType="Item">
        INSERT INTO item
        VALUES (item_no, #{cate_no}, #{item_name},#{item_price}, #{item_discnt}, #{item_info}, #{item_hit}, now())
    </insert>
    <update id="update" parameterType="Item">
        UPDATE item SET item_price=#{item_price}, item_discnt=#{item_discnt}, item_info=#{item_info} WHERE item_no=#{item_no}
    </update>
    <delete id="delete" parameterType="Integer">
        DELETE FROM item WHERE item_no=#{item_no}
    </delete>


	<select id="getItemList" parameterType="Integer" resultType="Item">
        SELECT * FROM item WHERE cate_no=#{cate_no}
    </select>
    <select id="getAllItemList" parameterType="Integer" resultType="Item">
		SELECT i.item_no, i.item_name, i.item_price, i.item_discnt, i.item_info, i.item_hit, i.item_udate, c.cate_no, c.cate_no2 FROM item i 
		INNER JOIN category c
		WHERE i.cate_no=c.cate_no AND cate_no2=#{cate_no};
    </select>
    <select id="searchItemList" parameterType="String" resultType="Item">
    	SELECT * FROM item WHERE item_name LIKE CONCAT('%',#{search},'%')
    </select> 
    <update id="updateItemhit" parameterType="Integer">
        UPDATE item SET item_hit=item_hit+1 WHERE item_no=#{item_no}; 
    </update>
</mapper>