<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.OrderMapper">

    <select id="select" parameterType="Integer" resultType="Order">
        SELECT * FROM `order` WHERE order_no=#{order_no}
    </select>
    <select id="selectAll" resultType="Order">
        SELECT * FROM `order`
    </select>
    <select id="selectList" parameterType="Integer" resultType="Order">
        SELECT * FROM `order` where user_no=#{user_no}
    </select>
    <insert id="insert" parameterType="Order">
        INSERT INTO `order`
        VALUES (0, #{user_no}, #{order_tot}, #{order_pay}, #{ship_addr}, #{ship_cust}, #{ship_stat}, #{order_stat}, #{order_cp}, now())
    <selectKey keyProperty="order_no" resultType="int" order="AFTER">
        SELECT LAST_INSERT_ID()
    </selectKey>
    </insert>
    <update id="update" parameterType="Order">
        UPDATE `order` SET rev_title=#{rev_title}, rev_content=#{rev_content}, rev_rdate=now() WHERE rev_no=#{rev_no}
    </update>
    <delete id="delete" parameterType="Integer">
        DELETE FROM `order` WHERE order_no=#{order_no}
    </delete>

</mapper>