<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.StockMapper">

    <select id="select" parameterType="Integer" resultType="Stock">
        SELECT * FROM stock WHERE stock_no=#{stock_no}
    </select>
    <select id="selectall" resultType="Stock">
        SELECT * FROM stock
    </select>
    <insert id="insert" parameterType="Stock">
        INSERT INTO stock
        VALUES (0, #{item_no}, #{color_no},#{size_no}, #{amount})
    </insert>
    <update id="update" parameterType="Stock">
        UPDATE stock SET amount=#{amount} WHERE stock_no=#{stock_no}
    </update>
    <delete id="delete" parameterType="String">
        DELETE FROM stock WHERE stock_no=#{stock_no}
    </delete>
    
	<select id="getStockColor" parameterType="Integer" resultType="Color">
		SELECT c.color_no, c.color_name FROM stock s 
		INNER JOIN color c
		WHERE c.color_no=s.color_no AND item_no=#{item_no} GROUP BY c.color_no
	</select>
	<select id="getStockSize" parameterType="Integer" resultType="Size">
		SELECT si.size_no, si.size_name FROM stock s 
		INNER JOIN size si
		WHERE si.size_no=s.size_no AND item_no=#{item_no} GROUP BY si.size_no
	</select>
	<select id="getstockno" parameterType="hashMap" resultType="Integer">
    	select stock_no from stock where item_no=#{item_no} AND size_no=#{size_no} AND color_no=#{color_no}; 
    </select>
</mapper>