<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.WishListMapper">

    <select id="select" parameterType="Integer" resultType="WishList">
        SELECT * FROM wishlist WHERE wish_no=#{wish_no}
    </select>
    <select id="selectall" resultType="WishList">
        SELECT * FROM wishlist
    </select>
    <insert id="insert" parameterType="WishList">
        INSERT INTO wishlist
        VALUES (#{wish_no}, #{user_no}, #{item_no})
    </insert>
    <update id="update" parameterType="WishList">
        UPDATE wishlist SET item_price=#{item_price}, item_discnt=#{item_discnt}, item_info=#{item_info}, item_img=#{item_img} WHERE item_no=#{item_no}
    </update>
    <delete id="delete" parameterType="Integer">
        DELETE FROM wishlist WHERE wish_no=#{wish_no}
    </delete>

</mapper>