<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button id="btn">
    <a href="https://kauth.kakao.com/oauth/authorize?client_id=cb8a91a1291ca3baa0ceef0c84a28240
&redirect_uri=http://localhost:80/oauth/login&response_type=code"><img src="/img/kakaologin_logo.png"></a>
</button>
<!-- naver 추가 -->
<button id="btn">
    <a href="https://nid.naver.com/oauth2.0/authorize?client_id=i2iAIOgbmOWXyr_C5kek&state=STATE&redirect_uri=http://localhost:80/naverlogin&response_type=code"><img src="/img/btnG_short.png" style="height:50px; width:150px;"></a>
</button>
<!--  -->
</body>
</html>