<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>

<script>
    var address;
    var zonecode;
    window.onload = function(){
        document.getElementById("address_kakao").addEventListener("click", function(){ //주소입력칸을 클릭하면
            //카카오 지도 발생
            new daum.Postcode({
                oncomplete: function(data) { //선택시 입력값 세팅
                    document.getElementById("address_kakao").value = data.address; // 주소 넣기
                    document.getElementById('address_post').value = data.zonecode;
                    document.querySelector("input[name=address_detail]").focus(); //상세입력 포커싱
                    address = data.address;
                    zonecode = data.zonecode;
                }
            }).open();
        });
    }
</script>

<body>
<button id="btn">
    <a href="https://kauth.kakao.com/oauth/authorize?client_id=cb8a91a1291ca3baa0ceef0c84a28240
&redirect_uri=http://localhost:80/oauth/login&response_type=code">Kakao login</a>
</button>
<h1>Loginpage</h1>
<form id="register_form">
    ID<input type="text" name="id" th:value="${userObj[user_id]}"><br> <!-- 여기만 변경안되면 db 정상 작동 -->
    EMAIL<input type="text" name="email" th:value="${userObj[email]}"><br>
    NAME<input type="text" name="name" th:value="${userObj[nickname]}"><br>
    address<input type="text" id="address_kakao" name="address" readonly />
    <legend>Gender
    <input type="radio" name="gender" value="male" id="male">
    <label for="male">Male</label>
    <input type="radio" name="gender" value="female" id="female">
    <label for="female">Female</label>
    </legend>
    <button id="insert_user">회원가입</button>
</form>
</body>
</html>