<script>
  $(document).ready(function(){
    $('input[name="id"]').keyup(function(){
      var id = $(this).val();
    });
    $('#login_form > a').click(function (){
      $('#login_form').attr({
        'method':'post',
        'action':'[[@{/loginimpl}]]'
      });
      $('#login_form').submit();
    });
  });
</script>
<h1>Login Page</h1>
<form id="login_form">
  ID<input type="text" name="id"><span id="id_span"></span><br>
  PWD<input type="password" name="pwd"><span id="pwd_span"></span><br>
  <a href="#">LOGIN</a>
</form>