<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>ForSeason &mdash; Season for you</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<!-- kakao address api -->
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    
	<!-- fonts css -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"> 
    <!-- icon css -->
    <link rel="stylesheet" th:href="@{fonts/icomoon/style.css}">
	<!-- bootstrap css -->
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{css/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{css/owl.theme.default.min.css}">
	
	<!-- animate css (Animate On Scroll) -->
    <link rel="stylesheet" th:href="@{css/aos.css}">
    
	<!-- main css -->
    <link rel="stylesheet" th:href="@{css/style.css}">

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
    </style>

  </head>
  <body>
  
  <div class="site-wrap">
  
  	<!-- header -->
  	<div id="header" th:include="/inc/header"></div>
    <!-- header end -->
    
    
	<!-- center -->
  	<div id="center" th:include="${center} ? ${center} : '/inc/center'"></div>
    <!-- center end -->

    <div id="socket" th:include="/socket"></div>

	<!-- footer -->
  	<div id="footer" th:include="/inc/footer"></div>
    <!-- footer end -->
    
  </div>

  <script th:src="@{js/jquery-3.3.1.min.js}"></script>
  <script th:src="@{js/jquery-ui.js}"></script>
  <script th:src="@{js/popper.min.js}"></script>
  <script th:src="@{js/bootstrap.min.js}"></script>
  <script th:src="@{js/owl.carousel.min.js}"></script>
  <script th:src="@{js/jquery.magnific-popup.min.js}"></script>
  <script th:src="@{js/aos.js}"></script>

  <script th:src="@{js/main.js}"></script>
    
  </body>
</html>