<html xmlns:th="https://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"
        integrity="sha512-eP6ippJojIKXKO8EPLtsUMS+/sAGHGo1UN/38swqZa1ypfcD4I0V/ac5G3VzaHfDaklFmQLEs51lhkkVaqg60Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<div id="login-button">
    <img src="https://dqcgrsy5v35b9.cloudfront.net/cruiseplanner/assets/img/icons/login-w-icon.png">
    </img>
</div>
<div id="container">
    <h1>Log In</h1>
    <span class="close-btn">
    <img src="https://cdn4.iconfinder.com/data/icons/miu/22/circle_close_delete_-128.png"></img>
  </span>

    <form id="login_form">
        <input type="text" name="id" placeholder="ADMIN01">
        <input type="password" name="pwd" placeholder="0000">
        <a href="#">LOGIN</a>
    </form>
</div>

<script>
    $('#login_form > a').click(function () {
        $('#login_form').attr({
            'method': 'post',
            'action': '[[@{/checkLogin}]]'
        });
        $('#login_form').submit();
    });
</script>

<!-- Forgotten Password Container -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<link rel="stylesheet" href="/css/login/login.css">
<script src="/js/login/login.js"></script>

