<h1>chartList</h1>
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <figure class="highcharts-figure">
                <div id="container"></div>
                <p class="highcharts-description">
                    This pie chart shows how the chart legend can be used to provide
                    information about the individual slices.
                </p>
            </figure>
        </table>
    </div>
</main>