<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.CategoryMapper">

    <select id="select" parameterType="Integer" resultType="Category">
        SELECT * FROM category WHERE cate_no=#{cate_no}
    </select>
    <select id="selectAll" resultType="Category">
        SELECT * FROM category
    </select>
    <insert id="insert" parameterType="Category">
        INSERT INTO category
        VALUES (#{cate_no}, #{cate_name},#{cate_no2})
    </insert>
    <update id="update" parameterType="Category">
        UPDATE category SET cate_name=#{cate_name}, cate_no2=#{cate_no2} WHERE cate_no=#{cate_no}
    </update>
    <delete id="delete" parameterType="Integer">
        DELETE FROM category WHERE cate_no=#{cate_no}
    </delete>
    
    
    <select id="getTopCategory" resultType="Category">
        SELECT * FROM category WHERE cate_no2 IS NULL
    </select>
    <select id="getMiddleCategory" resultType="Category">
        SELECT * FROM category WHERE cate_no2 IN (SELECT cate_no FROM category WHERE cate_no2 IS NULL)
    </select>
    <select id="getSubCategory" resultType="Category">
        SELECT * FROM category WHERE cate_no NOT IN (SELECT cate_no2 FROM category WHERE cate_no2 IS NOT NULL)
    </select>
    
    <select id="selectCurCategory" parameterType="map" resultType="Category">
    	select c3.cate_name as 'top_cate_name' 
    	<if test="middle!=null">, c2.cate_name as'mid_cate_name' </if>
    	<if test="sub!=null">, c2.cate_name as'mid_cate_name', c1.cate_name </if>
    	from category c3
    	<choose>
    		<when test="top!=null">
    			where c3.cate_no=#{top};
    		</when>
    		<when test="middle!=null">
    			inner join category c2
				where c3.cate_no=c2.cate_no2 AND c2.cate_no=#{middle};
    		</when>
    		<when test="sub!=null">
    			inner join category c2
				inner join category c1
				where c3.cate_no=c2.cate_no2 AND c2.cate_no=c1.cate_no2 AND c1.cate_no=#{sub};
    		</when>
    	</choose>
    </select>
</mapper>