<ul class="site-menu js-clone-nav d-none d-md-block" style="padding-left:0px;">
    <li class="has-children active">
        <a href="/itemList/cate_no=1" class="menu-item">WOMEN</a>
        <ul class="dropdown">
            <li class="has-children">
                <a href="/itemList/midCate_no=10">아우터</a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/itemList/itemCate_no=11">경량패딩</a>
                    </li>
                    <li>
                        <a href="/itemList/itemCate_no=13">셋업</a>
                    </li>
                    <li>
                        <a href="/itemList/itemCate_no=14">후리스</a>
                    </li>
                </ul>
            </li>
            <li class="has-children">
                <a href="/itemList/midCate_no=20">상의</a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/itemList/itemCate_no=21">니트</a>
                    </li>
                    <li>
                        <a href="/itemList/itemCate_no=22">캐시미어</a>
                    </li>
                    <li>
                        <a href="/itemList/itemCate_no=23">스웨트</a>
                    </li>
                    <li>
                        <a href="/itemList/itemCate_no=25">셔츠</a>
                    </li>
                    <li>
                        <a href="/itemList/itemCate_no=27">UT</a>
                    </li>
                </ul>
            </li>
            <li class="has-children">
                <a href="/itemList/midCate_no=30">하의</a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/itemList/itemCate_no=31">캐주얼팬츠</a>
                    </li>
                    <li>
                        <a href="/itemList/itemCate_no=32">스마트앵클팬츠</a>
                    </li>
                    <li>
                        <a href="/itemList/itemCate_no=35">레깅스팬츠</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>

</ul>