<style>

</style>
<script>
$(document).ready(function (){
   $('#register_form > a').click(function (){
       var c = confirm('수정 하시겠습니까?');
       if(c == true){
         $('#register_form').attr({
             'method':'post',
             'action':'[[@{/user/update}]]'
         });
         $('#register_form').submit();
       };
   });

});
</script>

<h1>CH2</h1>

<form id="register_form">
    ID<input type="text" name="id" th:value="${obj.id}" readonly="readonly"><br>
    PWD<input type="text" name="pwd" th:value="${obj.pwd}"><br>
    NAME<input type="text" name="name" th:value="${obj.name}"><br>
    <a href="#" id="update">UPDATE</a>
    <a th:href="@{/user/delete(id=${obj.id})}" id="delete">DELETE</a>
</form>