

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a th:href="@{/}">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Contact</strong></div>
        </div>
      </div>
    </div>  

    <div class="site-section">
      <div class="container">
        <div class="row">
          <!-- <div class="col-md-12">
            <h2 class="h3 mb-3 text-black">Get In Touch</h2>
          </div> -->
          
          
          <div class="col-md-3">
            <h1>Test Page</h1>
			<a th:href="@{/user/info/change_pwd}">패스워드 변경</a><br>
			<a th:href="@{/user/info/change_info}">내정보 수정</a><br>
			<a th:href="@{/user/info/delete}">회원탈퇴</a><br>
			<a th:href="@{/user/info/coupon}">쿠폰</a><br>
			<a th:href="@{/user/info/myOrder}">주문내역</a><br>
			<a th:href="@{/user/info/myOrderDetail}">주문상세내역</a><br>
			<a th:href="@{/user/info/coupon_insert}">쿠폰생성</a><br>
          </div>
          
          
          <div class="col-md-8" style="margin-left:50px; border:1px solid black;">
            <div class="p-4 border mb-3">
              <span class="d-block text-primary h6 text-uppercase">New York</span>
              <p class="mb-0">203 Fake St. Mountain View, San Francisco, California, USA</p>
            </div>
            <div class="p-4 border mb-3">
              <span class="d-block text-primary h6 text-uppercase">London</span>
              <p class="mb-0">203 Fake St. Mountain View, San Francisco, California, USA</p>
            </div>
            <div class="p-4 border mb-3">
              <span class="d-block text-primary h6 text-uppercase">Canada</span>
              <p class="mb-0">203 Fake St. Mountain View, San Francisco, California, USA</p>
            </div>

          </div>
        </div>
      </div>
    </div>

