<style>
	.myinfoSection{
		padding-top: 2em;
	}
	#infocenter{
		margin: 40px 0px 0px 50px;
		width: 900px;
	} 
	.myinfo{
		/*border: 1px solid #cccccc;*/
		margin-top: 20px;
	}
	.myinfo_name{
		border-bottom: 2px solid black;
		font-size:20px;
		padding-bottom: 20px;
	}
	.myname{
		font-size:30px;
		color: #5D5D5D;
	}
	.myinfo ul, .myinfo li{
		margin:0px;
		padding:0px;
		list-style:none;
	}
	.myinfo ul{
		margin: 20px 0px 30px;
	}
	.myinfo ul:nth-last-child(1){
		margin-bottom:0px;
	}
	.myinfo li:nth-child(1){
		font-size:18px;
		color: #5D5D5D;
		font-weight: 500;
	}
	.myinfo a{
		color: #999999;
	}
</style>

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a th:href="@{/}">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">My&nbsp;Page</strong></div>
        </div>
      </div>
    </div>  

    <div class="site-section myinfoSection">
      <div class="container">
        <div class="row">
          
          
          <div class="col-md-2">
            <!-- <h1>My Page</h1> -->
            <div class="myinfo">
            	<div class="myinfo_name">
            		<span class="myname" th:text="${session.loginUser.user_name}"></span>님</br>
            		<button class="btn btn-primary btn-sm" style="width:135px; height:30px; line-height:10px;" th:onclick="|location.href='@{/checkPwd?loc=changeMyInfo}'|"><a>회원정보수정</a></button>
            	</div>
            	<nav>
            		<ul class="myinfo_shopping">
            			<li>나의 쇼핑</li>
            			<li><a th:href="@{/myOrder}">주문내역</a></li>
            			<li><a th:href="@{/myCoupon}">나의 쿠폰</a><br></li>
            		</ul>
            		<ul class="myinfo_shopping">
            			<li>나의 관심상품</li>
            			<li><a th:href="@{/myWishList}">관심상품</a></li>
            		</ul>
            		<ul class="myinfo_review">
            			<li>나의 활동</li>
            			<li><a th:href="@{/myReview}">나의 리뷰</a></li>
            			<li><a th:href="@{/myQuestion}">1:1 문의</a></li>
            		</ul>
            		<ul class="myinfo_myinfo">
            			<li>나의 정보</li>
            			<li><a th:href="@{/checkPwd?loc=changeMyInfo}">개인정보 수정</a></li>
            			<li><a th:href="@{/checkPwd?loc=changeMyPwd}">비밀번호 변경</a></li>
            			<li><a th:href="@{/checkPwd?loc=deleteUser}">회원탈퇴</a></li>
            		</ul>
            	</nav>
			</div>
          </div>
          <div id="infocenter" th:include="${infocenter} ? ${infocenter} : '/user/myPage/myOrder'">
          	
          </div>
          
        </div>
      </div>
    </div>
    
    
    
    <!-- a th:href="@{/user/info/change_pwd}"></a><br>
				<a th:href="@{/user/info/change_info}">내정보 수정 -> 패스워드 변경 포함</a><br>
				<a th:href="@{/user/info/delete}">회원탈퇴</a><br>
				<a th:href="@{/user/info/coupon}">나의 쿠폰</a><br>
				<a th:href="@{/user/info/myOrder}">주문내역</a><br>
	-->

