<style>
.loginsection{
	padding-top: 70px;
	border-top: 1px solid #f3f3f4;
}
.logincontainer{
	width:400px;
	border-top:1px solid #cccccc;
	padding-bottom: 20px;
}

.loginh2{
	margin: 30px auto;
	text-align: center;
	color: #6B6B6B;
}
.inputdiv, .genderdiv{
	width: 360px;
	margin:0px auto;
}
.inputdiv > input{
	width: 360px;
	height: 40px;
	margin: 8px auto;
}
.genderdiv > input{
	margin: 15px 0px 0px 20px;
}
.buttondiv{
	text-align:center;
	margin-top: 30px;
}
.buttondiv > button{
	background: black;
	color: white;
	width: 100px;
	height: 40px;
}

#email_span, #pwd_span, #phone_span{
	font-size: 12px;
}
</style>

<script>
    var address;
    window.onload = function () {
        document.getElementById("address_kakao").addEventListener("click", function () { //주소입력칸을 클릭하면
            //카카오 지도 발생
            new daum.Postcode({
                oncomplete: function (data) { //선택시 입력값 세팅
                    document.getElementById("address_kakao").value = data.address; // 주소 넣기
                    address = data.address;

                }
            }).open();
        });
    }
    var regExpPw = /(?=.*\d{1,50})(?=.*[~`!@#$%\^&*()-+=]{1,50})(?=.*[a-zA-Z]{2,50}).{8,50}$/
    var patternPhone = /01[016789]-[^0][0-9]{2,3}-[0-9]{3,4}/;
    var regExpEmail = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i;
    var pwd_bol = false;
    var phone_bol = false;
    var email_bol = false;

    $(document).ready(function () {
        //api 유저일시 자동 등록
            if ("[[${userObj}]]" != null) {
                id = $('input[name="id"]').val();
                email = $('input[name="email"]').val();
                u_name = $('input[name="u_name"]').val();
                $("input[name='user_id']").val(id);
                $("input[name='user_email']").val(email);
                $("input[name='user_name']").val(u_name);
                email_bol = true;
            }

            $("input[name='user_pwd']").keyup(function () {
                if (!regExpPw.test($("input[name='user_pwd']").val())) {
                    $('#pwd_span').text("8자리 이상 입력하세요.(숫자,특문 1회 이상, 영문은 2개 이상) ");
                    $('#pwd_span').css("color", "red");
                } else {
                    $('#pwd_span').text("사용 가능한 비밀번호입니다.");
                    $('#pwd_span').css("color", "green");
                    pwd_bol = true;
                }
            });
            $("input[name='user_phone']").keyup(function (){
                if(!patternPhone.test($("input[name='user_phone']").val())){
                    $('#phone_span').text("번호 형식이 맞지 않습니다. EX) 010-1234-5678");
                    $('#phone_span').css("color", "red");
                    phone_bol = false;
                }else{
                    $('#phone_span').text("");
                    phone_bol = true;
                }
            });
        $("input[name='user_email']").keyup(function (){
            if(!regExpEmail.test($("input[name='user_email']").val())){
                $('#email_span').text("메일형식이 맞지 않습니다.");
                $('#email_span').css("color", "red");
                email_bol = false;
            }else{
                $('#email_span').text("");
                email_bol = true;
            }
        });

            if ("[[${is_check}]]" == "true") {
                location.href = '[[@{/}]]';
            }

            $('#register_form > .buttondiv > button').click(function () {
                var c = confirm("회원가입 하시겠습니까?");
                if (c == true) {
                    if (pwd_bol == false || phone_bol == false || email_bol == false) {
                        return false;
                    } else {
                        $('#register_form').attr({
                            'method': 'post',
                            'action': '[[@{/user/register}]]'
                        });
                        $('#register_form').submit();
                    }
                }
            });
        }
    );
</script>

<ul id="th_true" th:if="${userObj} != null" style="list-style-type:none">
    <input type="hidden" name="id" th:value="${userObj[user_id]}">
    <input type="hidden" name="email" th:value="${userObj[email]}">
    <input type="hidden" name="u_name" th:value="${userObj[nickname]}">
</ul>

<div class="site-section site-blocks-2 loginsection">
	<div class="container logincontainer">
          <h2 class="loginh2">SIGN&nbsp;UP</h2>
          <form id="register_form">
          	<div class="inputdiv"><input type="text" name="user_id" value="" placeholder="ID"></div>
          	<div class="inputdiv"><input type="text" name="user_email" value="" placeholder="E-mail"><span id="email_span"></span></div>
          	<div class="inputdiv"><input type="text" name="user_name" value="" placeholder="Name"></div>
          	<div class="inputdiv"><input type="password" name="user_pwd" placeholder="Password"><span id="pwd_span"></span></div>
          	<div class="inputdiv"><input type="text" name="user_phone" placeholder="Phone"><span id="phone_span"></span></div>
          	<div class="inputdiv"><input type="text" id="address_kakao" name="user_address" placeholder="Address" readonly></div>
         	<div class="genderdiv"><h4 style="display:inline-block;">Gender</h4>
         		<input type="radio" name="user_gender" value="male" id="male">
        		<label for="male">Male</label>
        		<input type="radio" name="user_gender" value="female" id="female">
        		<label for="female">Female</label>
         	</div>
          	<div class="buttondiv"><button>SIGN&nbsp;UP</button></div>
          </form>
	</div>
</div>


	
	